# Movie list from imdb.com

In [8]:

import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send HTTP GET request to IMDb's top rated movies page
url = "https://www.imdb.com/chart/top"
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find all movie titles and ratings
titles = soup.find_all("td", class_="titleColumn")
ratings = soup.find_all("td", class_="ratingColumn imdbRating")

# Extract the movie data
movies = []
for title, rating in zip(titles, ratings):
    movie_title = title.a.text
    movie_rating = float(rating.strong.text)
    movies.append({"title": movie_title, "rating": movie_rating})
df = pd.DataFrame(movies)
df.iloc[1:6,]

                   title  rating
1          The Godfather     9.2
2        The Dark Knight     9.0
3  The Godfather Part II     9.0
4           12 Angry Men     9.0
5       Schindler's List     8.9

* Functions for web scraping movies from IMDB

In [13]:
import requests
from bs4 import BeautifulSoup

def scrape_movies():
    # Send HTTP GET request to IMDb's top rated movies page
    url = "https://www.imdb.com/chart/top"
    response = requests.get(url)

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find all movie titles and ratings
    titles = soup.find_all("td", class_="titleColumn")
    ratings = soup.find_all("td", class_="ratingColumn imdbRating")

    # Extract the movie data
    movies = []
    for title, rating in zip(titles, ratings):
        movie_title = title.a.text
        movie_rating = float(rating.strong.text)
        movies.append({"title": movie_title, "rating": movie_rating})

    return movies

def recommend_movies(movies):
    # Sort the movies by rating in descending order
    sorted_movies = sorted(movies, key=lambda x: x["rating"], reverse=True)

    # Return the top 5 recommended movies
    return sorted_movies[:5]

# Recommended top 5 movies from IMDB based on rating

In [20]:
# Scrape movies from IMDb
movies = scrape_movies()

# Recommend top movies
sorted_movies = sorted(movies, key=lambda x: x["rating"], reverse=True)
df = pd.DataFrame(sorted_movies)
df.iloc[1:6]

                   title  rating
1          The Godfather     9.2
2        The Dark Knight     9.0
3  The Godfather Part II     9.0
4           12 Angry Men     9.0
5       Schindler's List     8.9

# Amazon TV list

In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

HEADERS = ({'User-Agent':
            'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36',
            'Accept-Language': 'en-US, en;q=0.5'})
# Specify the URL of the search page
url = 'https://www.amazon.com/s?k=TV'

# Send a GET request to the URL
response = requests.get(url, headers=HEADERS)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')


# Select all elements with the class "my-class"
elements = soup.select('.my-class')
print(elements)

#print(soup.prettify())
with open('output.html', 'w') as file:
    file.write(soup.prettify())

# Extract the desired information
product_titles = soup.find_all('span', class_='a-size-medium a-color-base a-text-normal')
prices = soup.find_all('span', class_='a-offscreen')
ratings = soup.find_all('span', class_='a-icon-alt')
simage = soup.find_all('span', class_='a-size-base a-color-base')

parsed_products = []
# Print the extracted information
for title, price, rating, simage in zip(product_titles, prices, ratings, simage):

    parsed_product = {}
    parsed_product['Title'] = title.text
    parsed_product['Price'] = price.text
    parsed_product['Rating'] = rating.text
    parsed_product['Imaging'] = simage.text
    parsed_products.append(parsed_product)

# Convert the parsed products to a data frame
df = pd.DataFrame(parsed_products)

# Save the data frame to a file
df.to_csv('parsed_data.csv', index=False)

df.iloc[1:10,]

[]

,Title,Price,Rating,Imaging
1,"All-new Amazon Fire TV 55"" Omni QLED Series 4K...",$168.00,4.0 out of 5 stars,Works with Alexa
2,VIZIO 40-inch D-Series Full HD 1080p Smart TV ...,$229.99,4.3 out of 5 stars,Works with Alexa
3,Hisense A6 Series 50-Inch Class 4K UHD Smart G...,$129.99,4.4 out of 5 stars,Works with Alexa
4,"TCL 32"" Class 3-Series HD 720p LED Smart Roku ...",$229.99,4.6 out of 5 stars,Climate Pledge Friendly
5,Vizio D40F-G9 40-inch 1080p Full Array LED Sma...,$138.00,4.2 out of 5 stars,Small Business
6,"Westinghouse 24"" HD Smart Roku TV, 720p High D...",$159.99,4.3 out of 5 stars,Works with Alexa
7,INSIGNIA 24-inch Class F20 Series Smart HD 720...,$168.00,4.1 out of 5 stars,Alexa Built-in
8,"TCL 32"" Class 3-Series Full HD 1080p LED Smart...",$229.99,4.3 out of 5 stars,Climate Pledge Friendly
9,ATYME 32-inch Class 60Hz 720p HD LED TV Flat S...,$119.99,4.6 out of 5 stars,Climate Pledge Friendly